
#header{
background-image: url("Images/logo_img_sindhi.jpg");
width: 100%;
height: 360px;
position: relative;
}

.button {
    background-color: rgb(97, 122, 145);
    border: none;
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.title{
	font-style: italic;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 36px;
    line-height: 30px;
    font-family: Georgia, serif;
	align-content: center;
	display:block;
}
.your-centered-div {
    width: 560px; 
    height: 315px; 

    position: relative; 
    top: 0; right: 0;
    bottom: 0; left: 0;
    margin: auto; 
	
	display: block;
}

#image{
	float: right;
}
#p{
	text-align:justify;
	 font-family: Georgia, serif;
	color:red;
}
#hm {
	float: left;
	height: 24px;
	padding: 320px 0px 0 0px;
	margin-left: 40px;
}
#image1{
	padding-left:20px;
	padding-top:20px;
	
	
}
#p2 {
	padding-left:20px;
	font-family: calibri;
	color:green;
}
	
#body1{
	width:66.67%;
	float: left;
}
#body2{
	width:33.33%;
	float:left;
	padding: 0px;
}
#ul{
list-style-image: url('Images/DragonIcon_Blue_HEX (1).png');
font-family: calibri;
font-size: 30px;
color:green;
}