#octagon {
  width: 100px;
  height: 40px;
  background: red;
  position: relative;
}

#octagon:before {
  content: "";
  position: absolute;
  top: -30px;
  width: 40px;
  height: 0;
  border-bottom: 30px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

#octagon:after {
  content: "";
  position: absolute;
  bottom: -30px;
  width: 40px;
  height: 0px;
  border-top: 30px solid red;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
}

#octagon p {
  color: white;
  font-family: helvetica;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 -1px 0 darkred;
}


html {
  height: 100%;
  background: -webkit-linear-gradient(white, yellow );
}

#sign {
  position: relative;
  left: 200px;
  top: 50px;
}